<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <h1 th:text="${msg}">Error</h1>
    </section>
    <form th:action="@{/login}" th:object="${loginDTO}" method='POST'>
        <p class="form"><label>Username</label>
        <input type="text" th:field="*{userLoginName}" name="login-userName" id="login-userName" palceholder="Type Username"/>
        <span class="error" th:if="${#fields.hasErrors('userLoginName')}" th:errors="*{userLoginName}">Error</span>
        </p>
        <p class="form"><label>Password</label>
        <input type="password" th:field="*{userLoginPwd}" name="login-userPwd" id="login-userPwd" palceholder="Type Password"/>
        <span class="error" th:if="${#fields.hasErrors('userLoginPwd')}" th:errors="*{userLoginPwd}">Error</span>
        </p>
        <button type="submit">Log In</button>
    </form>
    <br/>
    <a th:href="@{/registerUser}">Register a Profile</a>
</body>
</html>