<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/resources/fragments/layout}">
<body>
<main layout:fragment="content">
<form th:action="@{/app/{path}(path=${id})}" th:object="${applicationDetailForm}" method="post">

    <p>Current status: <span th:text="${applicationDetailForm.application.status}"></span></p>
    <table border="1">
        <thead>
        <tr>
            <th>Expertise</th>
            <th>Years of Experience</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile, status : ${applicationDetailForm.application.expertiseProfile}" id="availabilities-th" >
            <td><p><span th:text="${profile.expertise.name}"></span><p></td>
            <td><p><span th:text="${profile.years}"/></p></td>
        </tr>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="availability, status : ${applicationDetailForm.application.availabilities}" id="availabilities-th" >
            <td><p><span  th:text="${{availability.fromDate}}" /><p></td>
            <td><span  th:text="${{availability.toDate}}"/></p></td>
        </tr>
        </tbody>
    </table>
    <button name="type" type="submit" th:name="type" value="accept">Accept</button>
    <button name="reject" type="submit" th:name="type" value="reject">Reject</button>
    <button name="list" type="submit" th:name="type" value="goback">Go Back</button>

</form>
</main>
</body>
</html>