<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{resources/fragments/layout}">
<body>
<main layout:fragment="content">
<form th:action="@{/app/{path}(path=${id})}" th:object="${applicationDetailForm}" method="post">

    <p><label th:text="#{application.status}"/> <span th:text="${applicationDetailForm.application.status}"></span></p>
    <table border="1">
        <thead>
        <tr>
            <th><label th:text="#{application.expertise}"/></th>
            <th><label th:text="#{application.years}"/></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile, status : ${applicationDetailForm.application.expertiseProfile}" id="availabilities-th" >
            <td><p><span th:text="${profile.expertise.name}"></span><p></td>
            <td><p><span th:text="${profile.years}"/></p></td>
        </tr>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th><label th:text="#{apply.from}"/></th>
            <th><label th:text="#{apply.to}"/></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="availability, status : ${applicationDetailForm.application.availabilities}" id="availabilities-th" >
            <td><p><span  th:text="${{availability.fromDate}}" /><p></td>
            <td><span  th:text="${{availability.toDate}}"/></p></td>
        </tr>
        </tbody>
    </table>
    <button name="type" type="submit" th:name="type" value="accept"><label th:text="#{application.accept}"/></button>
    <button name="reject" type="submit" th:name="type" value="reject"><label th:text="#{application.reject}"/></button>
    <button name="list" type="submit" th:name="type" value="goback"><label th:text="#{application.goback}"/></button>

</form>
</main>
</body>
</html>