<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main layout:fragment="content">

        <form th:action="@{/user/apply}" th:object="${applicationForm}" method="post">

        <div>   <h3><label th:text="#{apply.expertiseheader}"/></h3>
            <ul th:each="expertiseProfile, status : ${applicationForm.expertiseProfiles}">
                <li>
                    <!-- <li><span th:text="${status}"> Status </span>-->
                    <span th:text="${expertiseProfile.expertise.name}"><label th:text="#{apply.expertise}"/> </span>
                    <span th:text="${expertiseProfile.years}"/>
                </li>
            </ul>
            <h3><label th:text="#{apply.availabilitiesheader}"/></h3>
            <ul th:each="availability, status : ${applicationForm.availabilities}" id="availabilities-th" >
                <li>
                    <p>
                        <label th:text="#{apply.from}"/>
                        <span  th:text="${{availability.fromDate}}" />
                    </p>
                    <p>
                        <label th:text="#{apply.to}"/>
                        <span  th:text="${{availability.toDate}}"/>
                    </p>
                </li>
            </ul>
        </div>
            <button name="confirm" type="submit"><label th:text="#{apply.sendButton}"/></button>
        </div>
    </form>
    </main>
</body>
</html>