<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{resources/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main layout:fragment="content">
        <section>
            <h3 th:if="${param.error}"><label th:text="#{login.error}"/></h3>
        </section>
        <section>
            <h3 th:text="${msg}"/>
        </section>
        <form th:action="@{/pub/login}" method='POST'>
            <p class="form"><label th:text="#{login.username}"/>
            <input type="text" name="username" id="username" palceholder="Type Username"/>
            </p>
            <p class="form"><label th:text="#{login.password}"/>
            <input type="password" name="password" id="password" palceholder="Type Password"/>
            </p>
            <button type="submit"><label th:text="#{login.button}"/></button>
        </form>
        <br/>
        <a th:href="@{/pub/registerUser}"><label th:text="#{login.register}"/></a>
    </main>
</body>
</html>