<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}"/>
</head>
<body>
    <div th:replace="resources/fragments/includes :: navbar"/>
    <section>
        <h1 th:if="${param.error}">Invalid username and password</h1>
    </section>
    <section>
        <h1 th:text="${msg}"/>
    </section>
    <form th:action="@{/pub/login}" method='POST'>
        <p class="form"><label>Username</label>
        <input type="text" name="username" id="username" palceholder="Type Username"/>
        </p>
        <p class="form"><label>Password</label>
        <input type="password" name="password" id="password" palceholder="Type Password"/>
        </p>
        <button type="submit">Log In</button>
    </form>
    <br/>
    <a th:href="@{/pub/registerUser}">Register a Profile</a>
    <div th:replace="resources/fragments/includes :: footer"/>
</body>
</html>